.App {
  text-align: center;
}

.App-header {
  background-color: #1e90ff; 
  height: 8vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem; 
  padding: 20px; 
}

.App-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
